*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/composeApp/tokens/StoredCredential
/recipe-keystore.jks
composeApp/release
/composeApp/src/jvmMain/resources/credentials.json
/.idea/uiDesigner.xml
/.idea/deviceManager.xml
